
<!--
Author: Luke Galic
Student number: 13564810
-->
<app-header></app-header>

<h3>Login</h3>

<form [formGroup]="loginForm" (ngSubmit) = "login()">
  <div class="container">
    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required  formControlName="email">

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required  formControlName="password">
    <button class="loginBtn" [disabled]="!loginForm.valid" type="submit">LOGIN</button>

  </div>
</form>
<div class="btnContainer">
  <button style="width: 100px;" class="button" (click)="back()">back</button>
</div>

<div *ngIf="alert == 'register success'" class="greenAlert">
  <span class="closebtn" (click)="close()">&times;</span>
  please login: {{alert}}
</div>
<div *ngIf="alert == 'loginFailed'" class="redAlert">
  <span class="closebtn" (click)="close()">&times;</span>
  login failed try again: {{user.status}}
</div>

