<app-header></app-header>
    <div class="testbox">
      <form [formGroup]="reportForm" (ngSubmit) = "onClickSubmit()">
        
        <h1>Complaint Form</h1>

        <p>Please send us details about the incident you would like to report. Our Complaint Center will analyze your complaint and take the appropriate measures in order that the reported situation will not occur at any other time in the future.</p>
        <hr/>

        <div class="item">
          <label>Centre Name:
            <select (change)="changeCentre()" name="centreLocation" formControlName="centreLocation">
              <option  *ngFor="let centre of centres" value="{{centre.name}}">{{centre.name}}</option>
            </select>
          </label>

          <label>Store Name
            <select *ngIf="sCentre" name="storeLocation" formControlName="storeLocation">
              <option *ngFor="let store of sCentre.stores" value="{{store.sName}}">{{store.sName}}</option>
            </select>

            <select *ngIf="!sCentre" name="storeLocation" formControlName="storeLocation">
            </select>
          </label>

        </div>

        <div class="item">
          <label>Date of the reported incident
            <input type="date" name="incidentDate" required formControlName="incidentDate">
            <i class="fas fa-calendar-alt"></i>
          </label>

          <label>Incident type
            <select name="incidentType" formControlName="incidentType">
              <option value="harrasment">Harrassment</option>
              <option value="Accident">Accident</option>
              <option value="Fatality">Fatality</option>
            </select>
          </label>
        </div>



        <div class="item">
          <label>choose offender (optional)
            <select name="offenderId" formControlName="offenderId">
              <option value="no offenders">no offenders</option>
              <option *ngFor="let o of offenders" value="{{o._id}}">{{o.fName}}</option>
            </select>
          </label>

          <label>add offender (optional)
            <button type="button" style="width: 100%; height: 35px;" (click)="addOffender()">fill offender details</button>
          </label>
        </div>


        <div class="item complaint-details">
          <div class="complaint-details-item">
            <label for="compDetails">complaint detail
              <textarea name="compDetails" rows="5" formControlName="compDetails"></textarea>
            </label>
          </div>
        </div>

        <div class="item desired-outcome">
          <div class="desired-outcome-item">
            <label for="desiredOutcome">Desired outcome
              <textarea name="desiredOutcome" rows="5" formControlName="desiredOutcome"></textarea>
            </label>
            <small>By signing you declare that all information you have entered is truthful and accurate.</small>
          </div>
        </div>

        <div class="btn-block">
          <button class="button" type="submit">SEND</button>
        </div>
      </form>
    </div>

    <div class="btnContainer">
      <button style="width: 100px;" class="button" (click)="back()">back</button>
    </div>
    <div *ngIf="alert" class="redAlert">
      <span class="closebtn" (click)="close()">&times;</span>
       <b>error: </b> {{alert}}
    </div>

    <div  [ngStyle]="{'display': displayPopUp1}" id="myModal" class="modal1">
      <div class="modal-content">
        <form [formGroup]="offenderForm" class='offenderForm' action="">
          <span (click)="closeAddOffender()" class="close">&times;</span>

    
          <div class="container">
            <h2 style="text-align: center;">Add person</h2>
            <p style="text-align: center;">If any of the fields are unknown please leave it empty</p>
            
            <div class="item">
              <label for="oName">First name<input type="text" name="oName" id="oName" formControlName="fName"></label>
              <label for="oLName">Last name<input type="text" name="oLName" id="oLName" formControlName="lName"></label>
            </div>

            <div class="item">
              <label for="">description <textarea name="" id="" cols="30" rows="5" formControlName="description"></textarea></label>
            </div>

            <div style="justify-content: center;" class="item">
              <button type="button" (click)="submitOffender()">Submit</button>
              
            </div>
            <div style="justify-content: center; text-align: center;"  class="item">
              <p *ngIf="offender">{{offender.status}}</p>
            </div>

          </div>
        </form>
    </div>
  </div>
  
<button (click)=" fetchOffenders()">test</button>