<app-header></app-header>
    <div class="testbox">
      <form [formGroup]="reportForm" (ngSubmit) = "onClickSubmit()">
        
        <h1>Complaint Form</h1>

        <p>Please send us details about the incident you would like to report. Our Complaint Center will analyze your complaint and take the appropriate measures in order that the reported situation will not occur at any other time in the future.</p>
        <hr/>

        <div class="item">
          <label>Centre Name:
            <select (change)="changeCentre()" name="centreLocation" formControlName="centreLocation">
              <option  *ngFor="let centre of centres" value="{{centre.name}}">{{centre.name}}</option>
            </select>
          </label>

          <label>Store Name
            <select *ngIf="sCentre" name="storeLocation" formControlName="storeLocation">
              <option *ngFor="let store of sCentre.stores" value="{{store.sName}}">{{store.sName}}</option>
            </select>

            <select *ngIf="!sCentre" name="storeLocation" formControlName="storeLocation">
            </select>
          </label>

        </div>

        <div class="item">
          <label>Date of the reported incident
            <input type="date" name="incidentDate" required formControlName="incidentDate">
            <i class="fas fa-calendar-alt"></i>
          </label>

          <label>Incident type
            <select name="incidentType" formControlName="incidentType">
              <option value="harrasment">Harrassment</option>
              <option value="Accident">Accident</option>
              <option value="Fatality">Fatality</option>
            </select>
          </label>
        </div>

        <div class="item complaint-details">
          <div class="complaint-details-item">
            <label for="compDetails">Complaint details
              <textarea name="compDetails" rows="5" formControlName="compDetails"></textarea>
            </label>
          </div>
        </div>

        <div class="item desired-outcome">
          <div class="desired-outcome-item">
            <label for="desiredOutcome">Desired outcome
              <textarea name="desiredOutcome" rows="5" formControlName="desiredOutcome"></textarea>
            </label>
            <small>By signing you declare that all information you have entered is truthful and accurate.</small>
          </div>
        </div>

        <div class="btn-block">
          <button class="button" type="submit">SEND</button>
        </div>
      </form>
    </div>

    <div class="btnContainer">
      <button style="width: 100px;" class="button" (click)="back()">back</button>
    </div>
    <div *ngIf="alert" class="redAlert">
      <span class="closebtn" (click)="close()">&times;</span>
       <b>error: </b> {{alert}}
    </div>