<!DOCTYPE html>
<!--
Author: Briana Margetts
Student number: 140574003
-->
<app-header></app-header>

<h3 style="text-align: center; margin-top: 50px;">Incident reports</h3>
  <table id="incidentTable" class="table">
    <tr>
      <th>ID</th>
      <th>Date of incident</th>
      <th>Name</th>
      <th>Email</th>
      <th>Store location</th>
      <th>Store name</th>
      <th>Date of incident</th>
      <th>incident location</th>
      <th>Complaint details</th>
      <th>Desired outcome</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <tr *ngFor="let complaint of complaints">
        <td>{{complaint._id}}</td>
        <td>{{complaint.dateOfComp}}</td>
        <td>{{complaint.fName}} {{complaint.lName}}</td>
        <td>{{complaint.email}}</td>
        <td>{{complaint.centreLocation}}</td>
        <td>{{complaint.storeLocation}}</td>
        <td>{{complaint.incidentDate}}</td>
        <td>{{complaint.incidentLocation}}</td>
        <td>{{complaint.compDetails}}</td>
        <td>{{complaint.desiredOutcome}}</td>
        <td><img width="25px" height="25px" src="assets/images/edit.png" alt="edit" (click)="updateForm(complaint._id)"></td>
        <td><img width="25px" height="25px" src="assets/images/bin.png" alt="delete" (click)="deleteIncident(complaint._id)"></td>
    </tr>
  </table>

  <!-- UPDATE REPORT POP UP WINDOW-->
  <div  [ngStyle]="{'display': displayPopUp}" id="myModal" class="modal">
    <!-- Modal content -->
      <div class="modal-content">
        <span (click)="closeUpdateForm()" class="close">&times;</span>
        <div class="testbox">
          <form [formGroup]="reportForm" (ngSubmit)="updateIncident()">

            <h1>Update complaint form</h1>
            <hr/>

            <div class="item">
              <p>Date of complaint</p>
              <input type="date" name="dateOfComp" required formControlName="dateOfComp" disabled>
              <i class="fas fa-calendar-alt"></i>
            </div>
            <div class="item">
              <p>Name</p>
              <input type="text" name="fName" placeholder="First" formControlName="fName">
              <input type="text" name="lName" placeholder="Last" formControlName="lName">
            </div>
    
            <div class="item">
              <p>Email</p>
              <input type="text" name="email" formControlName="email">
            </div>
            <div class="item">
              <p>Centre Name:</p>
              <select (change)="changeCentre()" name="centreLocation" formControlName="centreLocation">
                <option  *ngFor="let centre of centres" value="{{centre.name}}">{{centre.name}}</option>
              </select>
            </div>
            <div class="item">

              <p>Store Name</p>
              <select *ngIf="centrePicked" name="storeLocation" formControlName="storeLocation">
                <option *ngFor="let store of sCentre.stores" value="{{store.sName}}">{{store.sName}}</option>
              </select>

              <select *ngIf="!centrePicked" name="storeLocation" formControlName="storeLocation">
                <option  value="{{this.reportForm.controls.storeLocation.value}}">{{this.reportForm.controls.storeLocation.value}}</option>
              </select>

            </div>
            <div class="item">
              <p>Date of the reported incident</p>
              <input type="date" name="incidentDate" required formControlName="incidentDate">
              <i class="fas fa-calendar-alt"></i>
            </div>
    
            <div class="item location">
              <p>Incident location</p>
              <input type="incLocation" name="name" formControlName="incidentLocation">
            </div>
    
            <div class="item complaint-details">
              <p>Complaint Details</p>
              <div class="complaint-details-item">
                <textarea name="compDetails" rows="5" formControlName="compDetails"></textarea>
              </div>
            </div>
    
            <div class="item desired-outcome">
              <p>Desired Outcome</p>
    
              <div class="desired-outcome-item">
                <textarea name="desiredOutcome" rows="5" formControlName="desiredOutcome"></textarea>
                <small>By signing you declare that all information you have entered is truthful and accurate.</small>
              </div>
            </div>

            <div class="btn-block">
              <button type="submit">Send</button>
            </div>
            <p class="statusMessage" *ngIf="status">{{status.status}}</p>
          </form>
        </div>
      </div>
  </div>
  <div class="btnContainer">
    <button style="width: 100px;" class="button" (click)="back()">back</button>
  </div>
  <p class="statusMessage" *ngIf="status">{{status.status}}</p>
