<!DOCTYPE html>
<!--
Author: Briana Margetts
Student number: 140574003
-->
<div id="printable">
<app-header></app-header>

<h3 style="text-align: center; margin-top: 50px;">Incident reports</h3>
  <table id="incidentTable" class="table">
    <tr>
      <th>complaint ID</th>
      <th>user ID</th>
      <th>offender ID</th>
      <th>Date of incident</th>
      <th>Store location</th>
      <th>Store name</th>
      <th>Date of incident</th>
      <th>incident type</th>
      <th>Complaint details</th>
      <th>Desired outcome</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <tr *ngFor="let complaint of complaints">
        <td>{{complaint._id}}</td>
        <td>{{complaint.userId}}</td>
        <td>{{complaint.offenderId}}</td>
        <td>{{complaint.dateOfComp}}</td>
        <td>{{complaint.centreLocation}}</td>
        <td>{{complaint.storeLocation}}</td>
        <td>{{complaint.incidentDate}}</td>
        <td>{{complaint.incidentType}}</td>
        <td>{{complaint.compDetails}}</td>
        <td>{{complaint.desiredOutcome}}</td>
        <td><img width="25px" height="25px" src="assets/images/edit.png" alt="edit" (click)="updateForm(complaint._id)"></td>
        <td><img width="25px" height="25px" src="assets/images/bin.png" alt="delete" (click)="deleteIncident(complaint._id)"></td>
    </tr>
  </table>
</div>

<div style="margin: 50px 0px; text-align: center;">
  <button class="button" (click)=" exportAllRecords()">export all records</button>
</div>


  <!-- UPDATE REPORT POP UP WINDOW-->
  <div  [ngStyle]="{'display': displayPopUp}" id="myModal" class="modal">
    <!-- Modal content -->
      <div class="modal-content">
        <span (click)="closeUpdateForm()" class="close">&times;</span>
        <div class="testbox">
          <form [formGroup]="reportForm" (ngSubmit)="updateIncident()">

            <h1>Update complaint form</h1>
            <hr/>

            <div class="item">
              <p>Date of complaint</p>
              <input type="text" name="dateOfComp" required formControlName="dateOfComp" disabled>
              <i class="fas fa-calendar-alt"></i>
            </div>
            <div class="item">
              <p>Centre Name:</p>
              <select (change)="changeCentre()" name="centreLocation" formControlName="centreLocation">
                <option  *ngFor="let centre of centres" value="{{centre.name}}">{{centre.name}}</option>
              </select>
            </div>
            <div class="item">

              <p>Store Name</p>
              <select *ngIf="centrePicked" name="storeLocation" formControlName="storeLocation">
                <option *ngFor="let store of sCentre.stores" value="{{store.sName}}">{{store.sName}}</option>
              </select>

              <select *ngIf="!centrePicked" name="storeLocation" formControlName="storeLocation">
                <option  value="{{this.reportForm.controls.storeLocation.value}}">{{this.reportForm.controls.storeLocation.value}}</option>
              </select>

            </div>
            <div class="item">
              <p>Date of the reported incident</p>
              <input type="date" name="incidentDate" required formControlName="incidentDate">
              <i class="fas fa-calendar-alt"></i>
            </div>

            <div class="item">
              <p>Incident type </p>
                <select name="incidentType" formControlName="incidentType">
                  <option value="harrasment">Harrassment</option>
                  <option value="Accident">Accident</option>
                  <option value="Fatality">Fatality</option>
                </select>
            </div>

            <div class="item complaint-details">
              <p>Complaint Details</p>
              <div class="complaint-details-item">
                <textarea name="compDetails" rows="5" formControlName="compDetails"></textarea>
              </div>
            </div>

            <div class="item desired-outcome">
              <p>Desired Outcome</p>

              <div class="desired-outcome-item">
                <textarea name="desiredOutcome" rows="5" formControlName="desiredOutcome"></textarea>
                <small>By signing you declare that all information you have entered is truthful and accurate.</small>
              </div>
            </div>

            <div class="btn-block">
              <button type="submit">Send</button>
            </div>
            <div *ngIf="status">
              <div *ngIf="status.status == 'updated incident successfully'" class="greenAlert">
                <span class="closebtn" (click)="close()">&times;</span>
                {{status.status}}
              </div>
            </div>

            <div *ngIf="status">
              <div *ngIf="status.status != 'updated incident successfully'" class="redAlert">
                <span class="closebtn" (click)="close()">&times;</span>
                {{status.status}}
              </div>
            </div>

          </form>
        </div>
      </div>
  </div>

  <div class="btnContainer">
    <button style="width: 100px;" class="button" (click)="back()">back</button>
  </div>

