<app-header></app-header>

<div class="container">
	<div [hidden]="!(page == 'page1')" class="page1">
		<button class="button" role="button" (click)="reportButton()">Report incident</button>
		<p>or</p>
		<a routerLink="/login">view progress</a>
	</div>

	<div [hidden]="!(page == 'page2')" class="page2">
		<h3>I would like to report an incident as a?</h3>

		<div class="options">
			<button class="button" role="button" (click)="loginOrRegister()">Customer</button>
			<p>or</p>
			<button class="button" role="button" (click)="loginOrRegister()">Staff</button>
		</div>
		<button style="width: 100px;" class="button btnContainer" [hidden]="!(page != 'page1')" (click)="back()">back</button>
	</div>
	<div [hidden]="!(page == 'page3')" class="page3">
		<h3>Have you used our services before?</h3>
		<button style="margin-top: 50px;" class="button" routerLink='/login' role="button">Login</button>
		<p>or</p>
		<button class="button" role="button"  routerLink='/register'>Register</button>
		<p>or</p>
		<button class="button" role="button" routerLink='/guestreport'>Report anonymously</button>
		<button style="width: 100px;" class="button btnContainer" [hidden]="!(page != 'page1')" (click)="back()">back</button>
	</div>
</div>

<div *ngIf="logStatus == 'loggedOff'" class="greenAlert">
	<span class="closebtn" (click)="close()" >&times;</span>
	You have been logged-off!
</div>
