
<!--
Author: Luke Galic
Student number: 13564810
-->
<app-header></app-header>

<h3>Register</h3>
<form [formGroup]="registerForm" (ngSubmit)="register()">
	<div class="container">

		<div class="item">
			<label for="first name">first name
				<input type="text" placeholder="Enter first name" name="fName" required  formControlName="fName">
			</label>
			<label for="last name">last name 
				<input type="text" placeholder="Enter last name" name="lName" required  formControlName="lName">
			</label>
		</div>


		<div class="item">
			<label for="email">Email
				<input type="text" placeholder="Enter Email" name="email" required formControlName="email">
			</label>
			<label for="password">Password
				<input type="password" placeholder="Enter Password" name="password" formControlName="password">
			</label>
		</div>

		<button [disabled]="!registerForm.valid" type="submit">Register</button>
	</div>
	<div *ngIf="alert == 'register failed'" class="redAlert">
		<span class="closebtn" >&times;</span>
		Register failed try again: {{status.status}}
	</div>

</form>
<div class="btnContainer">
	<button style="margin-top: 50px; width: 100px;" class="back-button" (click)="back()">back</button>
</div>




